<div class="row">
    <div *ngFor="let instagramDocument of instagramDocuments$ | async" class="col-lg-6 col-md-9 col-sm-9 col-xs-12">
        <app-instagram-card [instagram]="instagramDocument">
        </app-instagram-card>
    </div>
</div>

<form [formGroup]="newImage">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="card">
                <div class="card-header">Add Image</div>
                <div class="card-block">
                    <label for="formFields_1">Name this image</label>
                    <input type="text" placeholder="Name" formControlName="name" />
                </div>
                <div class="card-block">
                    <label for="formFields_2">Instagram Code</label>
                    <input type="text" placeholder="Image Code" formControlName="id" />
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline" (click)=add()>add</button>
                </div>
            </div>
        </div>
    </div>
    <h3>{{ newImage.value | json }}</h3>
</form>
